@import 'settings';

form{
    width: 100%;
}
.form{
    width: 100%;
    margin: $xl-size 0;    
    input{
        width: 100%;
        margin: $s-size auto;
        padding: 5px 10px;
        font-size: $s-size;
    }
    label{
        font-size: $s-size;
    }
    textarea{
        @extend input;
        height: 10rem;
        font-family: Arial, sans-serif;
    }
}

.edit-title{
    margin: $l-size auto 0 auto;
}
